/* Styling for project categories */
.project-list div {
    margin-bottom: 15px;
}

.project-list ul {
    list-style-type: none;
    padding-left: 0;
}

.project-list li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
}

.project-list li h5 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.project-card header {
    display: block; /* Stack name and button vertically */
}

.project-card button {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    width: 100%; /* Make the button full width or adjust as needed */
}
